/* Write your CSS here */
li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 32px;
}
button {
  padding: 8px 16px;
  border: 1px solid red;
  color: red;
  border-radius: 6px;
  background-color: white;
  cursor: pointer;
}
p {
  font-weight: 600;
}
